.login {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 300px;
  background-color: rgb(214, 255, 199);
  z-index: 100;
  position: absolute;
  top: 200px;
}
